<div class="container my-5">
    <div class="jumbotron">
        <h1>Bienvenido {{name}}</h1>
        <button class="btn btn-warning my-5" onclick="location.href='/logout'">Cerrar sesión</button>
    </div>
</div>